name: CI
permissions: {}

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
        with:
          persist-credentials: false
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061
      - uses: actions/setup-node@dda4788290998366da86b6a4f497909644397bb2
        with:
          node-version: 24.11.0
          cache: pnpm
      - run: pnpm install
      - run: pnpm test
